@font-face {
  font-family: Lato-Light;
  src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Lato-Regular;
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Lato-Bold;
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Lato-Black;
  src: url("./assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1020px;
  height: 95px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #2d303a;
  z-index: 999;
}

.logo {
  margin-left: 40px;
}

.logo__title {
  color: #fff;
  font-family: Lato-Bold;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.5px;
}
.logo__title_colored {
  color: #f06c64;
}

.header-bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
  position: absolute;
  bottom: 0;
}

.menu {
  margin-top: 10px;
  margin-right: 40px;
  color: #fff;
  font-family: Lato-Bold;
  font-size: 12px;
}

.menu__list li {
  display: inline;
}
.menu__list li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.menu__list_active {
  color: #f06c64 !important;
}
.menu__list li a:hover {
  color: #f06c64;
}

.menu__dot {
  margin: 0 10px;
}

.slider {
  margin-top: 95px;
  width: 1020px;
  height: 594px;
  position: relative;
  overflow: hidden;
}
.slider__container {
  position: absolute;
  top: 0;
  width: 2040px;
  display: flex;
}
.slider-one {
  width: 1020px;
  height: 594px;
  position: relative;
  background-color: #f06c64;
}
.slider-two {
  width: 1020px;
  height: 594px;
}
.slider-two__image {
  width: 100%;
}
.slider__iphone-vertical {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 8.92%;
  left: 10.98%;
  width: 23.53vw;
  max-width: 240px;
  height: 47.35vw;
  max-height: 487px;
}
.slider__iphone-body {
  width: 100%;
}
.iphone-vertical__background {
  position: absolute;
  z-index: -1;
  transition: opacity ease 0.3s;
  top: 13%;
  left: 5%;
  width: 19.03vw;
  max-width: 192px;
  height: 33.26vw;
  max-height: 337px;
}
.slider__iphone-horizontal {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 29.31%;
  right: 10.98%;
  width: 47.35vw;
  max-width: 483px;
  height: 23.53vw;
  max-height: 240px;
}
.iphone-horizontal__background {
  position: absolute;
  z-index: -1;
  transition: opacity ease 0.3s;
  top: 4.9%;
  left: 11.9%;
  width: 33.26vw;
  max-width: 337px;
  height: 19.03vw;
  max-height: 192px;
}
.iphone-horizontal__background_hide,
.iphone-vertical__background_hide {
  opacity: 0;
}
.iphone-vertical__black-background {
  position: absolute;
  top: 13%;
  left: 5%;
  width: 19.03vw;
  max-width: 192px;
  height: 33.26vw;
  max-height: 337px;
  background-color: #000;
  z-index: -2;
}
.iphone-horizontal__black-background {
  position: absolute;
  background-color: #000;
  z-index: -2;
  top: 4.9%;
  left: 11.9%;
  width: 33.26vw;
  max-width: 337px;
  height: 19.03vw;
  max-height: 192px;
}
.slider__left-arrow {
  position: absolute;
  top: 50%;
  left: 42px;
  z-index: 500;
}
.slider__left-arrow:hover {
  filter: brightness(0.4);
  cursor: pointer;
}
.slider__right-arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  z-index: 500;
}
.slider__right-arrow:hover {
  filter: brightness(0.4);
  cursor: pointer;
}
.slider-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}

.services {
  width: 1020px;
  height: 494px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  scroll-margin-top: 95px;
}
.services__big-section {
  padding: 34px 37px 25px 39px;
}
.services__big-section h2 {
  margin-bottom: 15px;
  font-family: Lato-Black;
  font-size: 30px;
  color: #666d89;
}
.services__big-section p {
  font-family: Lato-Light;
  font-size: 18px;
  color: #767e9e;
  letter-spacing: 0.17px;
  line-height: 1.7;
}
.services__items {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
}
.services-box {
  display: flex;
  flex-basis: 300px;
  height: 123px;
}
.services-box__img {
  padding-top: 5px;
  flex: 1;
}
.services-box__information {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}
.services-box__title {
  margin-bottom: 8px;
  font-family: Lato-Black;
  font-size: 18px;
  color: #666d89;
  overflow: hidden;
}
.services-box__content {
  margin-bottom: 25px;
  font-family: Lato-Regular;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
  overflow: hidden;
}
.services-box_cental-box {
  margin: 0 20px;
}
.services-bottom {
  width: 1020px;
  height: 6px;
  background-color: #fff;
}
.portfolio {
  display: flex;
  justify-content: center;
  scroll-margin-top: 95px;
}

.portfolio__wrapper {
  position: relative;
  max-width: 940px;
  width: calc(100vw - 80px);
  padding: 40px;
  background-color: #2d303a;
}

.portfolio__title {
  font-family: "Lato-Black";
  font-size: 30px;
  margin: 20px 0;
}
.portfolio__text {
  font-family: "Lato-Light";
  font-size: 18px;
  margin: 21px 0 16px 0;
}
.portfolio__images {
  margin-top: 18px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 621px;
  overflow: hidden;
}
.portfolio__images img {
  margin: 0 0 20px;
}
.portfolio__images img:hover {
  cursor: pointer;
  filter: brightness(125%);
}
.portfolio__image_active {
  outline: 5px solid #f06c64;
  outline-offset: -5px;
}
.portfolio__bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #323746;
}

.portfolio__tag_color {
  color: #767e9e;
}

.tag-button {
  margin-right: 5px;
  margin-left: 1px;
  height: 22px;
  font-size: 12px;
  font-family: "Lato-Regular";
  border: 1px solid #767e9e;
  border-radius: 5px;
  background-color: transparent;
}
.tag-button:hover {
  cursor: pointer;
}
.portfolio__active-tag_color {
  color: #dedede;
  border: 1px solid #dedede;
}

.about-us {
  display: flex;
  justify-content: center;
  scroll-margin-top: 95px;
}
.about-us__wrapper {
  position: relative;
  max-width: 940px;
  width: calc(100vw - 80px);
  height: 654px;
  padding: 40px;
  background-color: #f2f2f2;
}
.about-us__title {
  font-family: "Lato-Black";
  font-size: 30px;
  margin: 19px 0;
}
.about-us__text {
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 29px;
}
.about-us__cards-list {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
.about-us__card {
  max-width: 300px;
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
}
.card__wrapper {
}
.card__image {
  width: 100%;
}
.card__title {
  margin: 11px 0 0;
  font-family: "Lato-Black";
  font-size: 18px;
}
.card__text {
  margin: 8px 0;
  line-height: 21px;
  font-family: "Lato-Regular";
  font-size: 12px;
}
.social-media {
  margin-top: 24px;
}
.social-media img {
  margin-right: 4px;
}
.social-media img:hover {
  -webkit-filter: drop-shadow(2px 2px 2px #666d89);
  filter: drop-shadow(2px 2px 2px #666d89);
  cursor: pointer;
}
.about-us__bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #ffffff;
}

.portfolio_title-color {
  color: #666d89;
}
.portfolio_text-color {
  color: #767e9e;
}
.get-a-quote {
  display: flex;
  justify-content: center;
  scroll-margin-top: 95px;
}

.get-a-quote__wrapper {
  position: relative;
  width: 1020px;
  padding: 40px 40px 19px 40px;
  background-color: #f06c64;
  box-sizing: border-box;
}
.get-a-quote__title {
  font-family: "Lato-Black";
  font-size: 30px;
  margin: 19px 0 18px;
}
.get-a-quote__text {
  font-family: "Lato-Light";
  font-size: 18px;
  margin: 0px 0 44px 0;
  text-align: justify;
  line-height: 30px;
}
.get-a-quote_text-color {
  color: #f0d8d9;
}
.get-a-quote__main-row {
  display: flex;
}
.input-form {
  margin: 0 10px 0 0;
  flex-basis: 619px;
  display: flex;
  flex-direction: column;
  height: 418px;
  justify-content: space-between;
}

.input-form__input {
  height: 38px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  background-color: #d6564f;
  font-size: 12px;
  font-family: "Lato-Regular";
  color: #f48c8f;
  padding-left: 14px;
}
.input-form__textarea {
  height: 202px;
  box-sizing: border-box;
  resize: none;
  border-radius: 5px;
  border: 0;
  background-color: #d6564f;
  padding-left: 14px;
  padding-top: 12px;
  font-size: 12px;
  font-family: "Lato-Regular";
  color: #f48c8f;
}

.input-form__textarea::placeholder {
  font-size: 12px;
  font-family: "Lato-Regular";
  color: #f48c8f;
}
.input-form__input::placeholder {
  font-size: 12px;
  font-family: "Lato-Regular";
  color: #f48c8f;
}
.input-form__button {
  width: 100px;
  height: 35px;
  padding: 0;
  color: #886a30;
  background: #fbc65f;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-info {
  flex: 1;
  margin: 0 10px;
}
.contact-info__title {
  font-family: "Lato-Black";
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.contact-info__text {
  font-family: "Lato-Regular";
  font-size: 12px;
  text-align: justify;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.contact-items {
  display: flex;
  flex-direction: column;
}
.contact-item {
  display: flex;
}
.contact-item__icon {
  flex-basis: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-item__text {
  flex: 1;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 22px;
  padding-left: 9px;
}

.contact-item__text a {
  text-decoration: none;
  color: inherit;
}

.get-a-quote__bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #ea676b;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff4d;
  z-index: 1000;
}
.modal_hide {
  display: none;
}
.modal__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: "Lato-Light";
  font-size: 18px;
  line-height: 30px;
  overflow: hidden;
}
.modal-button {
  width: 50%;
  align-self: center;
  border: 0;
  border-radius: 5px;
  background-color: #f0d8d9;
  font-size: 18px;
  font-family: "Lato-Regular";
  color: #f48c8f;
}
.modal-button:hover {
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  position: relative;
  width: 1020px;
  height: 76px;
  padding: 0 40px;
  background-color: #2d303a;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  color: #666d89;
  font-family: "Lato-Regular";
  font-size: 12px;
}
.footer__social-media img {
  margin-left: 4px;
  margin-top: 3px;
}
.footer__social-media img:hover {
  -webkit-filter: drop-shadow(2px 2px 2px #666d89);
  filter: drop-shadow(2px 2px 2px #666d89);
  cursor: pointer;
}

@media (max-width: 1019px) {
  .header {
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 57.8vw;
  }
  .slider__container {
    width: calc(100vw * 2);
  }
  .slider-one {
    width: 100vw;
    height: 57.8vw;
  }
  .slider-two {
    width: 100vw;
    height: 57.8vw;
  }
  .slider-bottom {
    width: 100vw;
  }

  .services {
    width: 100vw;
    height: initial;
  }
  .services__big-section {
    padding: 16px 37px 15px 39px;
  }
  .services__items {
    justify-content: space-between;
  }
  .services-box_cental-box {
    margin: 0;
  }
  .services-box {
    flex-basis: 49%;
  }
  .services-bottom {
    width: 100vw;
  }
  .portfolio__images {
    max-height: initial;
  }
  .get-a-quote__wrapper {
    width: 100vw;
  }
  .input-form {
    flex-basis: 64%;
  }
  .footer__wrapper {
    width: 100vw;
  }
}
